<%- include("partials/header.ejs") %>
    <main id="decks-main">
      <h1 class="ui-hover">Decks</h1>
      <section id="decks-container">
        <a href="/MagicTheGathering/deck">
          <article class="decks-holder">
            <div class="deck1 project">
              <h2>Deck 01</h2>
            </div>
          </article>
        </a>
        <a href="/MagicTheGathering/deck">
          <article class="decks-holder">
            <div class="deck2 project">
              <h2>Deck 02</h2>
            </div>
          </article>
        </a>
        <a href="/MagicTheGathering/deck">
          <article class="decks-holder">
            <div class="deck3 project">
              <h2>Deck 03</h2>
            </div>
          </article>
        </a>
        <a href="/MagicTheGathering/deck">
          <article class="decks-holder">
            <div class="deck4 project">
              <h2>Deck 04</h2>
            </div>
          </article>
        </a>
        <a href="/MagicTheGathering/deck">
          <article class="decks-holder">
            <div class="deck5 project">
              <h2>Deck 05</h2>
            </div>
          </article>
        </a>
        <a href="/MagicTheGathering/deck">
          <article class="decks-holder">
            <div class="deck6 project">
              <h2>Deck 06</h2>
            </div>
          </article>
        </a>
      </section>
<%- include("partials/footer.ejs") %>