<%- include("partials/header.ejs") %>
  
    <div id="popupdecksIndividueel">
      <button onclick="buttonClosePopUpIndividueel()" id="buttonClosePopUpIndividueel"><h1>ⓧ</h1></button>
      <section>
        <article id="popupdecksIndividueelImages">
          <img
            src="/assets/images/cardindividueel.webp"
            id="picturePopUpIndividueel"
            alt=""
          />
        </article>
        <article id="popupdecksIndividueelEigenschappen">
          <h4>KAARTNAAM</h4>
          <br />
          <p id="card-name">Archangel Avacyn</p>
          <br />
          <hr class="solid" />
          <h4>zeldzaamheid</h4>
          <br />
          <p id="card-rarity">common</p>
          <br />
          <hr class="solid" />
          <h4>eigenschappen</h4>
          <br />
          <p id="card-text">Flying, vigilance</p>
          <br />
          <hr class="solid" />
          <h4>type</h4>
          <br />
          <p id="card-type">Flash</p>
        </article>
        <article id="popupdecksIndividueelVinkEnVuil">
          <img src="/assets/icons/min.webp" alt="" />
          <img src="/assets/icons/plus.webp" alt="" />
          <img src="/assets/icons/trash.webp" alt="" />
          <img src="/assets/icons/vinkje.webp" alt="" />
        </article>
      </section>
    </div>
    <main id="mainDecksIndividueel">
      <section id="buttonrow">
        <button> <a href="/MagicTheGathering/decks" id="decksGaTerug"><img src="/assets/icons/arrowleft.png" width="30px"  alt="arow back"> GO BACK</a></button>
        <h1 style="font-size: 2rem; font-family: dragon;">SuperDeck</h1>
            <button onclick="exportDeck()" id="exportButton"> EXPORT<img src="/assets/icons/arrowright.png" style="width: 30px; height: 30px;" alt="cardsize"></button>
      </section>
      <section id="sectionDeckCards" class="card-layout">
        
        <article id="deckPhotoAndText">
            <figure>
              <img  style="background-image: linear-gradient(to bottom, transparent, #100f15d2),
              url(/assets/images/deck1.webp);">
              <figcaption>Deck 1</figcaption>
            </figure>
          </article>
           <div id="iconsrow">
      <article class="icons first">
        <p><img src="/assets/icons/mana.webp" alt="mana" style="width: 30px; height: 30px;">
       mana: 40</p>
      </article>
      <article class="icons">
        <p><img src="/assets/icons/cardsize.png" alt="card" style="width: 30px; height: 30px;">
       kaarten:  0 / 60 </p>
      </article>
      <article class="icons last">
        <p><img src="/assets/icons/tree.webp" alt="tree" style="width: 30px; height: 30px;">
        landkaarten: 0</p>
      </article>
      
     </div>
     <img src="/assets/icons/manaicon2.png" style="margin-left: 7rem;" width="200px" alt="">
        <%- include("partials/legende.ejs") %>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x3</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x2</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x3</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x4</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x1</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x3</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x1</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x3</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x4</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x1</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x2</p>
        </article>
        <article class="youcard">
          <img
            src="/assets/images/cardindividueel.webp"
            class="picturesDecksIndividueel"
            alt=""
            onclick="OpenDecksIndividueel()"
          />
          <p>x3</p>
        </article>
      </section>
<%- include("partials/footer.ejs") %>