<%- include("partials/header.ejs") %>
    <main>
      <section class="decks-container">
        <h1 class="ui-hover">Draw Test</h1>
        <article id="add-deck" class="add-deck">
          <div class="left-part">
            <form action="/MagicTheGathering/drawtest" method="post">
              <select name="pets" class="select-deck" id="pet-select">
                <option value="1">Deck 01</option>
                <option value="2">Deck 02</option>
                <option value="3">Deck 03</option>
                <option value="4">Deck 04</option>
                <option value="5">Deck 05</option>
                <option value="6">Deck 06</option>
              </select>
              <input
                type="text"
                class="input-deck"
                placeholder="Zoek een kaart naam, type, ..."
              />
            </div>
            <button class="track-btn">track</button>
            </form>
            
          <h3>drawpercentage</h3>
        </article>
        <article id="card-comparaison">
          <div class="holder-comparaison">
            <img
              class="compar-img"
              src="/assets/images/back-card.webp"
              alt=""
            />
            <div id="draw-button">
              <button class="track-btn">Draw</button>
              <button class="track-btn">Reset</button>
            </div>
            <img
              class="compar-img"
              src=""
              alt=""
            />
          </div>
        </article>
      </section>
<%- include("partials/footer.ejs") %>