</main>

<footer id="footerLogin">
  <section>
    <section class="socialsFooter">
      <a href="landingpage.html"><img src="/assets/images/logo.webp" width="200px" alt=""></a>
    </section>
    <section class="socialsFooter">
      <h2>BLIJF OP DE HOOGTE</h2>
      <article>
        <a href="https://www.facebook.com/profile.php?id=61556757724357"
          ><img src="/assets/icons/facebook-icon.webp" alt="facebook"
        /></a>
        <a href="https://twitter.com/Manamasters77"
          ><img src="/assets/icons/twitter-icon.webp" alt="twitter"
        /></a>
        <a href="https://www.instagram.com/manamasters77/"
          ><img src="/assets/icons/instagram-icon.webp" alt="instagram"
        /></a>
      </article>
    </section>
  </section>
  <p>&copy; 2024 - All rights reserved - MANAMASTERS</p>
</footer>
</body>
</html>