<!DOCTYPE html>
<html lang="nl-BE">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magic The Gathering | <%=active%></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="shortcut icon" href="/assets/icons/logofavicon.webp" type="image/x-icon"/>
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script>
    <script>
      // scroll
      const lenis = new Lenis();

        lenis.on("scroll", (e) => {});

        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);
        
        function scrollBehaviorChange() {
          document.documentElement.style.scrollBehavior = "smooth";
            setTimeout(() => {
              document.documentElement.style.scrollBehavior = "auto";
            }, 200);
      };

        // menu
       function menuFunction() {
          if (document.getElementById("mobile-menu").style.display === "block") {
            document.getElementById("mobile-menu").style.display = "none";
          } else {
            document.getElementById("mobile-menu").style.display = "block";
          };
       };

        const media = matchMedia("(min-width:1085px)");

        media.addEventListener("change", () => {
          document.getElementById("mobile-menu").style.display = "none";
        });

        // popup deck individueel

      document.addEventListener("DOMContentLoaded", function() {
        function OpenDecksIndividueel() {
        if (document.getElementById("popupdecksIndividueel").style.visibility === "hidden") {
            document.getElementById("popupdecksIndividueel").style.visibility = "visible";
            document.getElementById("popupdecksIndividueel").style.height = "100vh";
        };
      }
      function buttonClosePopUpIndividueel() {
        document.getElementById("popupdecksIndividueel").style.visibility = "hidden";
          document.getElementById("popupdecksIndividueel").style.height = 0;
      }
      document.addEventListener("keydown", function (event) {
        if (event.key === "Escape" || event.key === "Esc") {
          document.getElementById("popupdecksIndividueel").style.visibility = "hidden";
          document.getElementById("popupdecksIndividueel").style.height = 0;
        }
      });
});
          
           
    </script>

  </head>
  <body>
    <header class="desktop-version">
      <nav>
        <ul>
          <a href="/MagicTheGathering/home"
            ><img
              src="/assets/images/logo.webp"
              class="shadow-filter"
              alt=""
          /></a>
        </ul>
        <ul class="nav">
          <a href="/MagicTheGathering/home"><li <% if(active === "Home") { %> class="active" <% } %> >Home</li></a>
          <a href="/MagicTheGathering/decks"><li <% if(active === "Decks" || active === "Deck") { %> class="active" <% } %> >Decks</li></a>
          <a href="/MagicTheGathering/drawtest"><li <% if(active === "Drawtest") { %> class="active" <% } %> >DrawTest</li></a>
        </ul>
        <ul class="right">
          <a href="/MagicTheGathering/login"
            ><li class="my-account-nav">
              <span class="login-icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="28"
                  viewBox="0 0 13 14"
                  class="css-KmZHE"
                >
                  <g
                    fill="none"
                    fill-rule="evenodd"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width=".69"
                    transform="translate(1 1.5)"
                  >
                    <path
                      d="M0.229166667,5.5 C0.229166667,7.3830874 1.23378179,9.12313192 2.86458331,10.0646756 C4.49538483,11.0062193 6.50461517,11.0062193 8.13541669,10.0646756 C9.76621821,9.12313192 10.7708333,7.3830874 10.7708333,5.5 C10.7708333,3.6169126 9.76621821,1.87686808 8.13541669,0.935324369 C6.50461517,-0.00621933876 4.49538483,-0.00621933876 2.86458331,0.935324369 C1.23378179,1.87686808 0.229166667,3.6169126 0.229166667,5.5 L0.229166667,5.5 Z"
                    ></path>
                    <path
                      d="M1.81454167,9.26795833 C2.59718426,8.8141432 3.42970584,8.45240466 4.2955,8.18995833 C4.679125,8.04833333 4.72083333,7.16833333 4.44583333,6.86583333 C4.04891667,6.42904167 3.7125,5.91708333 3.7125,4.68141667 C3.66573357,4.18345483 3.83461805,3.68932676 4.1763871,3.32415968 C4.51815615,2.95899259 5.00003563,2.75780441 5.5,2.77154167 C5.99996437,2.75780441 6.48184385,2.95899259 6.8236129,3.32415968 C7.16538195,3.68932676 7.33426643,4.18345483 7.2875,4.68141667 C7.2875,5.91891667 6.95108333,6.42904167 6.55416667,6.86583333 C6.27916667,7.16833333 6.320875,8.04833333 6.7045,8.18995833 C7.57029416,8.45240466 8.40281574,8.8141432 9.18545833,9.26795833"
                    ></path>
                  </g>
                </svg>
              </span>
              Mijn Profiel
            </li></a
          >
        </ul>
      </nav>
    </header>
    <header class="mobile-version">
      <nav class="header-menu">
        <a href="/MagicTheGathering/home"
        ><img
          src="/assets/images/logo.webp"
          class="shadow-filter"
          alt=""
      /></a>
      <img src="/assets/images/hamburger-menu.webp" onclick="menuFunction()" class="menu-icon" id="hamburger" alt="">
      </nav>
    </header>
    <header class="mobile-menu" id="mobile-menu">
      <nav class="mobile-nav">
        <section class="mobile-item" onclick="location.href='/MagicTheGathering/home'">
          <a href="/MagicTheGathering/home" <% if(active === "Home") { %> class="active" <% } %> >home</a>
        </section>

        <section class="mobile-item" onclick="location.href='/MagicTheGathering/decks'">
          <a href="/MagicTheGathering/decks" <% if(active === "Decks" || active === "Deck") { %> class="active" <% } %> >decks</a>
        </section>

        <section class="mobile-item" onclick="location.href='/MagicTheGathering/drawtest'">
          <a href="/MagicTheGathering/drawtest" <% if(active === "Drawtest  ") { %> class="active" <% } %> >drawtest</a>
        </section>
        <section class="mobile-item" onclick="location.href='/MagicTheGathering/login'">
          <a href="/MagicTheGathering/login">logout</a>
        </section>
      </nav>
    </header>