<section class="card-layout legende">
  <!-- <h1 class="ui-hover" style="font-size: 3rem">Legende</h1> -->
  <section class="sub-legende">
    <article>
      <h1 class="title ui-hover">●</h1>
      <p>Common Rarity</p>
    </article>
    <article>
      <h1 class="title ui-hover">♦</h1>
      <p>Uncommon Rarity</p>
    </article>
    <article>
      <h1 class="title ui-hover">★</h1>
      <p>Rare Rarity</p>
    </article>
    <article>
      <h1 class="title ui-hover">❈</h1>
      <p>Mythic Rarity</p>
    </article>
  </section>
</section>
