<section class=" legende">
  <!-- <h1 class="ui-hover" style="font-size: 3rem">Legende</h1> -->
  <section class="sub-legende">
    <div id="firstrare">
      <article>
        <img src="/assets/images/rarity1.webp" width="25px" alt="Common">
        <p>Common</p>
      </article>
      <article>
        <img src="/assets/images/rarity 2.png" width="25px" alt="Uncommon">
        <p>Uncommon</p>
      </article>
    </div>
    <div id="secondrare">
      <article>
      <img src="/assets/images/rarity 3.png" width="25px" alt="Rarity">
      <p>Rare</p>
    </article>
    <article>
      <img src="/assets/images/rarity 4.png" width="25px" alt="Mythic">
      <p>Mythic</p>
    </article>
    </div>
  </section>
</section>
